
.hero {
    width: 1440px;
    height: 700px;
    background-image: url('/images/header-bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contentBlock {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 783px;
    height: 204px;
    text-align: center;
}

.title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    text-align: center;
    color: var(--white);
}

.subtitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    text-align: center;
    color: var(--white);
    padding-bottom: 40px;
}

.cta {
    background-color: var(--button);
    color: var(--white);
    border-radius: 12px;
    text-decoration: none;
    width: 276px;
    height: 44px;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: background-color 0.3s ease;
       
}

.cta:hover{
   background-color: var(--button-hover);
   text-decoration: none; 
}